.box {
  overflow: hidden;
  border-radius: 9px;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.box-2 {
  padding: 11px;
  display: flex;
  border-radius: 9px;
  .label {
    margin: auto 0;  
    margin-left: 11px;
    width: fit-content;
  }
}
