/** @format */

// sizes
$navbar-height: 70px;
$footer-and-navbar-content-width: 60%;
$footer-height: 280px;
$scrollbar-width: 5px;
$hamburger-menu-width: 300px;

// colors
$accent: #fecb4d;
$white: #dadada;
$background: #2c2f36;
$darker: #191b1f;
$not-quite-black: #0f1012;
$alert: #fe4d4d;

// etc
$table-radius: 5px;

* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body,
#root,
.main {
  height: 100%;
}

* {
  outline: none;
}

code {
  background: $darker;
  border-radius: 3px;
  padding: 0 5px;
}

pre {
  padding: 10px;
  background: $darker;
  border-radius: 10px;
  overflow-x: auto;
}

blockquote {
  position: relative;
  &::before {
    content: "";
    height: 100%;
    left: -10px;
    background: $accent;
    position: absolute;
    width: 3px;
    border-radius: 5px;
  }
}

a {
  color: $accent;
}

.main-scroller {
  overflow: auto;
  height: 100%;
}

body {
  background: $background;
}

.grid {
  display: grid;
}

.grid-row {
  display: inline-grid;
}

.full-width {
  width: -webkit-fill-available;
  width: -moz-available;
}

.page-header {
  background: $darker;
  height: $navbar-height;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .content {
    position: relative;
    user-select: none;
    .header-logo {
      color: $accent;
      display: flex;
      align-items: center;
      font-size: 24px;
      text-decoration: none;
      .gear {
        font-weight: bold;
      }
      cursor: pointer;
    }
    .navbar-tab {
      span {
        color: $white;
        font-size: 16px;
        font-weight: 500;
      }
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .content-desktop {
    min-width: $footer-and-navbar-content-width;
  }
}

.login-with-discord {
  $size: 32px;
  font-weight: 500;
  user-select: none;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-decoration: none;
  .login-content {
    cursor: pointer;
    color: $white;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
}

.user-profile {
  $size: 32px;
  font-weight: 500;
  user-select: none;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  .profile-content {
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    .avatar {
      width: $size;
      height: $size;
      border-radius: 50%;
      margin-right: 8px;
    }
    .username {
      color: $white;
    }
    .discriminator {
      color: gray;
    }
    .dropdown-icon {
      margin-left: 10px;
    }
  }
}

.dropdown {
  position: absolute;
  background: $not-quite-black;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-gap: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  div {
    cursor: pointer;
    * {
      margin: 0;
    }
    padding: 6px;
    border-radius: 5px;
  }
  div:hover {
    background: lighten($color: $not-quite-black, $amount: 15%);
  }
}

.page {
  color: $white;
  width: $footer-and-navbar-content-width;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100% - #{$footer-height} - #{$navbar-height});
  margin-top: $navbar-height;
  display: flex;
}

.page-home {
  width: 100%;
  place-content: center;
  padding: 40px 0;
  margin: auto;
  .show-off {
    $bg-offset: 30px;
    position: relative;
    height: 290px;
    margin-top: $bg-offset;
    .bg,
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      * {
        margin: auto;
      }
    }
    .bg {
      overflow: hidden;
      top: -$bg-offset;
      bottom: $bg-offset;
    }
    * {
      margin: 0;
      text-align: center;
    }
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 14px;
    }
  }
}

.page-docs {
  width: 100%;
  display: flex;
  .center {
    width: 50%;
    margin: auto;
    min-width: 255px;
  }
  .title {
    margin-top: 0;
    width: 100%;
  }
  .doc-section {
    color: $white;
    text-decoration: none;
    display: block;
    background: $darker;
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
  }
  .doc-section:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  text-align: center;
}

.hamburger {
  width: $navbar-height;
  height: $navbar-height;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  img {
    width: calc(#{$navbar-height} - 25px);
  }
  div {
    height: fit-content;
    width: calc(#{$navbar-height} - 25px);
    display: grid;
    grid-gap: 10px;
    span {
      background: $accent;
      width: 100%;
      height: 5px;
      border-radius: 50px;
    }
  }
}

.burger-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($not-quite-black, 0.3);
}

.burger-menu {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $hamburger-menu-width;
  background: $not-quite-black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  .burger-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: $navbar-height;
    a {
      text-decoration: none;
      background: lighten($color: $darker, $amount: 15%);
      padding: 10px;
      border-radius: 5px;
    }
    a:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer {
  height: $footer-height;
  background-color: $darker;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  .footer-content {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    width: $footer-and-navbar-content-width;
    .footer-title {
      color: $accent;
      margin: 0;
      margin-bottom: 8px;
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      .footer-link {
        color: $white;
        text-decoration: none;
        margin: 8px 0;
      }
    }
    .copyright-notice {
      font-weight: normal;
      .name {
        font-weight: bold;
      }
    }
  }
}

.alert-color {
  color: $alert;
}

li {
  margin: 5px 0;
  p {
    margin: 0;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-spacing: 0;
}

.commands-table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: $table-radius;
}

table {
  overflow-x: auto;
  width: 100%;
  background: $darker;
  border-radius: $table-radius;
  thead {
    tr {
      border-spacing: 0;
      th {
        padding: 10px;
      }
    }
    background: $not-quite-black;
    border: none;
  }
  tbody {
    td {
      padding: 10px;
    }
  }
}

button,
.button {
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  min-width: 180px;
  min-height: 40px;
  font-weight: 500;
  font-size: 16px;
  background: $darker;
  color: $white;
  z-index: 1;
  span {
    margin: auto;
  }
  cursor: pointer;
  &.primary {
    background: #fecb4d;
    color: $darker;
  }
}

a.button {
  display: flex;
  place-content: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  z-index: 5;
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  z-index: 5;
  width: $scrollbar-width;
  background: lighten($darker, 20%);
  border-radius: 45px;
}
