/** @format */

@import "themes.scss";
@import "svgs.scss";

// sizes
$navbar-height: 70px;
// WARNING: do not change value without changing the value in Selector.tsx, too!
$footer-and-navbar-content-width: 60%;
$footer-height: 380px;
$scrollbar-width: 5px;
$hamburger-menu-width: 300px;
$log-entry-height: 80px;
$log-entry-icon-size: 40px;

$user-small-avatar-size: 16px;
$guild-height: 166px;

// etc
$table-radius: 5px;
$box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

* {
  transition: background-color 0.2s ease;
}

.themed {
  @include themify($themes) {
    .main-scroller {
      background: themed("primary");
    }
    table,
    th,
    td {
      border: 1px solid themed("table-border-color");
    }
    table {
      background: themed("secondary");
      thead {
        background: themed("tertiary");
      }
      tbody {
        tr:hover {
          background: themed("table-row-hover");
        }
      }
    }
    code,
    pre {
      background: themed("secondary");
    }
    .user-dropdown {
      background: themed("popout-color");
      div:hover {
        color: themed("full-text-color");
      }
    }
    .page-header {
      background: themed("secondary");
      .header-logo {
        color: themed("accent");
      }
    }
    .footer {
      color: themed("text-color");
      background: themed("secondary");
      .footer-content {
        .footer-title {
          color: themed("accent");
        }
      }
      .footer-link {
        color: themed("text-color");
      }
    }
    .login-content {
      color: themed("text-color");
    }
    .burger-bg {
      background: rgba(themed("secondary"), 0.3);
    }
    .burger-menu {
      background: themed("secondary");
      .burger-content {
        color: themed("text-color");
        a {
          text-decoration: none;
          background: themed("mobile-navbar-bg");
          padding: 10px;
          border-radius: 5px;
        }

        a:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    .navbar-tab {
      span {
        color: themed("text-color");
      }
    }
    .dropdown-opened {
      div {
        color: rgba(themed("text-color"), 0.7);
        &:hover {
          color: themed("text-color");
        }
      }
    }
    .doc-section {
      background: themed("secondary");
      color: themed("text-color");
    }
    .log-entry-information {
      background: rgba(themed("secondary"), 0.5);
      color: themed("text-color");
      .item-name {
        color: themed("secondary-text");
      }
    }
    .user-card {
      background: themed("secondary");
      .avatar {
        background: themed("primary");
      }
      .discriminator {
        color: themed("secondary-text");
      }
      .socials {
        background: themed("user-card-color");
      }
    }
    .user {
      &.small {
        color: themed("text-color");
      }
    }
    .username,
    .user-dropdown,
    .page {
      color: themed("text-color");
    }

    button,
    .button {
      background: themed("secondary");
      color: themed("text-color");
      &.primary {
        background: themed("accent");
        color: themed("button-primary");
      }
    }
    ::-webkit-scrollbar-thumb {
      background: themed("scrollbar-color");
    }

    .selector {
      .selector-control {
        background: themed("secondary");
      }
    }

    .faded-item {
      &.f1 {
        div {
          background: linear-gradient(
            -270deg,
            #00000000 0%,
            themed("secondary") 100%
          );
        }
      }

      &.f2 {
        div {
          background: linear-gradient(
            270deg,
            #00000000 0%,
            themed("secondary") 100%
          );
        }
      }
    }

    .guild {
      background: themed("secondary");
      color: themed("text-color");
      .icon {
        background: themed("primary");
      }
    }

    .bar {
      background: themed("secondary");
    }

    .dropdown-opened {
      background: themed("popout-color");
    }

    .dropdown {
      background: themed("primary");
    }

    .log-entry {
      background: themed("secondary");

      .reason {
        color: themed("secondary-text");
      }

      .icon {
        background: themed("primary");
      }
    }

    .panel {
      background: themed("secondary");
    }

    blockquote {
      &::before {
        background: themed("accent");
      }
    }

    a {
      color: themed("accent");
    }

    .hamburger {
      div {
        span {
          background: themed("accent");
        }
      }
    }

    .alert-color {
      color: themed("alert");
    }

    input {
      background: themed("secondary");
      color: themed("text-color");
    }

    ::placeholder {
      color: themed("secondary-text");
    }

    .toggleswitch {
      background: themed("primary");
      &.off::before {
        background: rgba(themed("secondary-text"), 0.7);
      }
      &.on::before {
        background: themed("secondary-text");
      }
    }

    .user-profile {
      .profile-content {
        .discriminator {
          color: themed("secondary-text");
        }
      }
    }
    input[type=checkbox]:checked {
      color: themed("accent");
    }
  }
}

.panel {
  padding: 10px;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body,
#root,
.main {
  height: 100%;
  overflow-y: hidden;
}

* {
  outline: none;
}

code {
  border-radius: 3px;
  padding: 0 5px;
}

pre {
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}

blockquote {
  position: relative;

  &::before {
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    width: 3px;
    border-radius: 5px;
  }
}

.main-scroller {
  position: absolute;
  top: $navbar-height;
  width: 100%;
  overflow: auto;
  height: calc(100% - #{$navbar-height});
}

.grid {
  display: grid;
}

.grid-row {
  display: inline-grid;
}

.full-width {
  width: -webkit-fill-available;
  width: -moz-available;
}

.page-header {
  height: $navbar-height;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .content {
    position: relative;
    user-select: none;

    .header-logo {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      text-decoration: none;

      .gear {
        font-weight: bold;
      }

      cursor: pointer;
    }

    .navbar-tab {
      span {
        font-size: 1em;
        font-weight: 500;
      }

      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .content-desktop {
    min-width: $footer-and-navbar-content-width;
  }
}

.login-with-discord {
  $size: 32px;
  font-weight: 500;
  user-select: none;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-decoration: none;

  a {
    text-decoration: none;
  }

  .login-content {
    margin-left: auto;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
}

.user-profile {
  $size: 32px;
  font-weight: 500;
  user-select: none;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  .profile-content {
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    display: flex;

    .avatar {
      width: $size;
      height: $size;
      border-radius: 50%;
      margin-right: 8px;
    }

    .dropdown-icon {
      margin-left: 10px;
    }
  }
}

.user-dropdown {
  position: absolute;
  font-weight: 500;
  font-size: 0.875em;
  padding: 16px;
  border-radius: 5px;
  display: grid;
  grid-gap: 20px;
  z-index: 2;
  box-shadow: $box-shadow;

  div {
    cursor: pointer;

    * {
      margin: 0;
    }

    border-radius: 5px;
  }
}

.toggleswitch {
  $padding: 3px;
  $width: 40px;
  $height: 16px;
  width: $width;
  height: $height;
  padding: $padding;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  &::before {
    display: inline-block;
    border-radius: 5px;
    content: "";
    height: 100%;
    width: calc(#{$height} - (#{$padding} * 2));
  }
  &.on::before {
    margin-left: auto;
  }
}

.page {
  width: $footer-and-navbar-content-width;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100% - #{$footer-height});
  //margin-top: $navbar-height;
  display: flex;
}

.page-home {
  width: 100%;
  place-content: center;
  padding: 40px 0;
  margin: auto;

  .show-off {
    $bg-offset: 30px;
    position: relative;
    height: 290px;
    margin-top: $bg-offset;

    .bg,
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;

      * {
        margin: auto;
      }
    }

    .bg {
      overflow: hidden;
      top: -$bg-offset;
      bottom: $bg-offset;
    }

    * {
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: 2.25em;
    }

    p {
      font-size: 0.875em;
    }
  }
}

input {
  border: none;
  border-radius: 50px;
  padding: 10px;
  padding-left: 15px;
}

.page-docs {
  width: 100%;
  display: flex;

  .center {
    width: 50%;
    margin: auto;
    min-width: 255px;
  }

  .title {
    margin-top: 0;
    width: 100%;
  }

  .doc-section {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: $box-shadow;
  }

  .doc-section:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  text-align: center;
}

.hamburger {
  width: $navbar-height;
  height: $navbar-height;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;

  svg {
    width: calc(#{$navbar-height} - 25px);
  }

  div {
    height: fit-content;
    width: calc(#{$navbar-height} - 25px);
    display: grid;
    grid-gap: 10px;

    span {
      width: 100%;
      height: 5px;
      border-radius: 50px;
    }
  }
}

.burger-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.burger-menu {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $hamburger-menu-width;
  box-shadow: $box-shadow;

  .burger-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: $navbar-height;

    a {
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
    }

    a:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer {
  height: $footer-height;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-content {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    width: $footer-and-navbar-content-width;

    .footer-title {
      margin: 0;
      margin-bottom: 8px;
    }

    .footer-links {
      display: flex;
      flex-direction: column;

      .footer-link {
        text-decoration: none;
        margin: 8px 0;
        width: fit-content;
      }
    }

    .copyright-notice {
      font-weight: normal;

      .name {
        font-weight: bold;
      }
    }
  }
}

li {
  margin: 5px 0;

  p {
    margin: 0;
  }
}

table,
th,
td {
  border-spacing: 0;
}

.page-meet-the-team {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-top: 5px;
  }

  .team-members {
    flex-wrap: wrap;
    display: inline-flex;

    .user-card {
      margin: 10px;
    }
  }
}

.commands-table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: $table-radius;
}

table {
  overflow-x: auto;
  width: 100%;
  border-radius: $table-radius;

  thead {
    tr {
      border-spacing: 0;

      th {
        padding: 10px;
      }
    }

    border: none;
  }

  tbody {
    td {
      padding: 10px;
    }
  }
}

button,
.button {
  border-radius: 5px;
  box-shadow: $box-shadow;
  border: none;
  min-width: 180px;
  min-height: 40px;
  font-weight: 500;
  font-size: 1em;
  z-index: 1;

  span {
    margin: auto;
  }

  cursor: pointer;
}

a.button {
  display: flex;
  place-content: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  z-index: 5;
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  z-index: 5;
  width: $scrollbar-width;
  border-radius: 45px;
}

.page-development {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.selector {
  width: 100%;

  .selector-title {
    font-size: 1.125em;
    line-height: 21px;
    font-weight: bold;
    margin: 0;
  }

  .selector-control {
    border-radius: 5px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    user-select: none;
  }

  .items {
    // WARNING: do not change value without changing the value in Selector.tsx, too!
    $gap: 20px;
    width: 100%;
    //height: $guild-height;
    position: relative;
    display: inline-flex;

    &.non-zero-index {
      .guild:not(:nth-child(2)) {
        margin-left: $gap;
      }
    }

    &:not(.non-zero-index) {
      .guild:not(:first-child) {
        margin-left: $gap;
      }
    }

    .faded-item {
      // WARNING: do not change value without changing the value in Selector.tsx, too!
      $faded-item-width: 60px;
      width: $faded-item-width;
      position: relative;

      &.f1 {
        div {
          right: $gap;
        }
      }

      &.f2 {
        margin-left: $gap;
      }

      div {
        position: absolute;
        height: 100%;
        border-radius: 5px;
        width: $faded-item-width;
      }

      &:not(.faded-item) {
        box-shadow: $box-shadow;
      }
    }
  }
}

.log-entry {
  padding: 20px;
  box-shadow: $box-shadow;
  display: inline-flex;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .icon {
    width: $log-entry-icon-size;
    height: $log-entry-icon-size;
    border-radius: 5px;
    display: flex;
    place-content: center;

    svg {
      $size: 70%;
      margin: auto;
      width: $size;
      height: $size;
    }

    // these are the logtypes, case is important
    .BAN {
      transform: rotate(45deg);
    }
  }

  .action {
    line-height: $user-small-avatar-size;
    font-size: 0.875em;
    display: flex;
    $text-margin: 5px;

    .text:not(:first-child) {
      margin-left: $text-margin;
    }

    .text {
      margin-right: $text-margin;
    }
  }

  .reason {
    font-size: 0.875em;
  }

  .log-hamburger {
    margin: auto;
    margin-right: 13px;
  }
}

.log-entry-information {
  padding: 20px 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .log-entry-information-field {
    display: flex;

    .item-name {
      margin-right: 8px;
      user-select: none;
    }
  }
}

.user {
  &.small {
    display: inline-flex;

    .avatar {
      width: $user-small-avatar-size;
      height: $user-small-avatar-size;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .username,
    .discriminator {
      font-weight: bold;
      font-size: 0.875em;
      line-height: $user-small-avatar-size;
    }

    .username {
      margin-left: 4px;
    }
  }
}

.user-card {
  border-radius: 5px;
  box-shadow: $box-shadow;
  width: 182px;
  height: 244px;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }

  .info {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 20px;

    .avatar {
      $icon-size: 90px;
      width: $icon-size;
      height: $icon-size;
      border-radius: 50%;
      place-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .username {
      margin: 0;
      font-weight: bold;
    }
  }

  .socials {
    position: relative;
    padding: 13px;
    display: flex;
    place-content: center;
    box-sizing: border-box;
    overflow: hidden;

    a {
      .social {
        cursor: pointer;
        margin: auto;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.guild {
  border-radius: 5px;
  box-shadow: $box-shadow;
  // WARNING: do not change value without changing the value in Selector.tsx, too!
  width: 182px;
  height: $guild-height;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  $speed: 0.3s;
  transition: transform $speed ease, box-shadow $speed ease;
  text-decoration: none;
  
  &:hover {
    transition: 0.2s;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }
  
  .icon {
    $icon-size: 90px;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    place-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    
    img {
      width: 80%;
      height: 80%;
    }
    
    span {
      font-size: 1.125em;
      font-weight: bold;
      line-height: 21px;
      text-align: center;
      align-items: center;
      display: flex;
    }
  }

  * {
  }
  
  .name {
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
}

.bar {
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  box-shadow: $box-shadow;
  box-sizing: border-box;
}

.dropdown-parent {
  $dropdown-size: 22px;
  $border-radius: 5px;
  $padding-left: 11px;
  $padding-vertical: 4px;
  height: $dropdown-size;
  position: relative;
  .dropdown {
    border-radius: $border-radius;
    height: $dropdown-size;
    font-size: 12px;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    span {
      margin-right: 10px;
    }
    div {
      grid-template-columns: 1fr auto;
      display: grid;
      margin: $padding-vertical $padding-left;
      svg {
        margin: auto;
      }
    }
  }

  .dropdown-opened {
    position: absolute;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    top: 0;
    width: 100%;
    //padding: 8px;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;
    //padding: 8px $padding-left;
    user-select: none;
    svg {
      position: absolute;
      top: 8px;
      right: 11px;
    }
    div {
      padding-left: $padding-left;
      transition: 0.1s;
      p {
        margin: 0;
      }
    }
    // second child bc the first is the dropdown arrow image
    div:nth-child(2) {
      p {
        margin-top: $padding-vertical;
      }
    }
    div:last-child {
      p {
        margin-bottom: $padding-vertical;
      }
    }
    div:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.commands-no-result-parent {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}
