@import "themify.scss";

$themes: (
  "light": (
    "accent": #fecb4d,
    "table-border-color": #adadad,
    "user-card-color": #efefef,
    "table-row-hover": #e4e4e4,
    "tertiary": #cecece,
    "secondary": white,
    "primary": #eaeaea,
    "text-color": #302c2c,
    "full-text-color": black,
    "secondary-text": #767b85,
    "mobile-navbar-bg": #e8e8e8,
    "scrollbar-color": #9a9a9a,
    "button-primary": #191b1f,
    "popout-color": #fff,
    "alert": #fe4d4d,
    "svg-primary": black,
    "svg-secondary": #191b1f,
    "dropdown-open": #191b1f,
    "dropdown-closed": #767b85,
    "enabled": #767b85,
    "disabled": #dadada,
  ),
  "dark": (
    "accent": #fecb4d,
    "table-border-color": black,
    "table-row-hover": #36393e,
    "user-card-color": #0f1012,
    "tertiary": #0f1012,
    "secondary": #191b1f,
    "primary": #2c2f36,
    "text-color": #dadada,
    "full-text-color": white,
    "secondary-text": #a7a7a7,
    "mobile-navbar-bg": #3b4049,
    "scrollbar-color": #474c57,
    "button-primary": #191b1f,
    "popout-color": #0f1012,
    "alert": #fe4d4d,
    "svg-primary": white,
    "svg-secondary": #dadada,
    "dropdown-open": white,
    "dropdown-closed": #767b85,
    "enabled": #dadada,
    "disabled": #767b85,
  ),
);
